.journals
    display: flex
    flex-wrap: wrap
    .journals_journal
        margin: 20px 50px
        border: 1px solid white
        width: 300px
        .journals_journal_title
            padding: 20px
            border-bottom: 1px solid white
            h1
                font-size: 20px
                color: $atcColor
                text-shadow: $atcColor 1px 0px 10px

        .journals_journal_content
            padding: 20px
            pre
                color: white
